/* RULES */

a,
a:visited,
a:hover,
a:focus a:hover,
a:active {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  border-radius: 30px;
  padding: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* /RULES */

/* Header */

header {
  color: white;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  padding-bottom: 100px;
}

.top > .container {
  padding: 20px 0;
}

#accedi {
  max-width: 70px;
  padding: 10px;
  margin-left: 60px;
}

.pulsanti {
  display: flex;
  width: 950px;
  justify-content: center;
}

#accedi,
.scarica {
  background-color: white;
  color: black;
}

.container {
  display: flex;
  width: 1250px;
  margin: 0px auto;
  padding-top: 50px;
}

/* h1 {
  text-align: center;
} */

h1 {
  padding-left: 200px;
}

h1,
h2 {
  font-size: 50px;
}

p {
  font-size: 20px;
  line-height: 35px;
  font-weight: 200;
  padding-top: 20px;
}

p:last-of-type {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

section:nth-of-type(even) {
  background-color: #f6f6f6;
}

.apri {
  margin-left: 20px;
  background-color: #23272a;
}

.header-box {
  padding: 10px;
}

.header-box.three,
.header-box.one {
  width: 200px;
}

.header-box.two {
  padding-top: 30px;
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
}

.why {
  margin: 0 20px;
}

.header-box.three {
  text-align: right;
}

.bottom {
  display: flex;
}

.bottom.container {
  width: 950px;
  margin: 40px auto;
  flex-wrap: wrap;
}

/* /Header */

/* Body */

section {
  padding: 40px 0;
}

.wave {
  width: 100%;
  color: #f6f6f6;
  background-color: #f6f6f6;
}

.wave {
  flex-direction: row-reverse;
}

.left-box {
  width: 750px;
}

.right-box {
  display: flex;
  flex-grow: 1;
}

.main-bottom {
  display: flex;
  flex-wrap: wrap;
}

.below {
  background-color: #7289da;
  color: white;
  margin-bottom: 100px;
}

.invitation {
  font-size: 30px;
  background-image: url(../img/stars.svg);
  background-size: contain;
  margin-left: 250px;
  margin-bottom: 50px;
}

/* /Body */

/* Footer */

footer > .container {
  padding: 20px 0;
}
.column {
  /* border: 2px dashed white; */
  min-width: 220px;
}

.column:first-of-type {
  /* border: 2px dashed black; */
  flex-grow: 1;
}

#last {
  /* background-color: #7fffd4; */
  justify-content: space-between;
}

.info {
  /* border: 2px dashed black; */
  padding: 5px;
  /* background-color: #ffb6c1; */
}

#item4 {
  margin: 0 100px;
}

/* hr {
  color: white;
}
 */
/* /Footer */
