/* RULES */

a,
a:visited,
a:hover,
a:focus a:hover,
a:active {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  border-radius: 30px;
  padding: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* /RULES */

/* Header */

header {
  color: white;
  background-image: url(../img/jumbo.png);
  background-size: cover;
}

.top > .container {
  padding: 20px 0;
}

#accedi {
  max-width: 70px;
  padding: 10px;
  margin-left: 60px;
}

#accedi,
.windows {
  background-color: white;
  color: black;
}

.container {
  display: flex;
  width: 1250px;
  margin: 0px auto;
}

h1 {
  text-align: center;
  padding: 50px;
  font-size: 50px;
}

p {
  text-align: center;
  font-size: 20px;
  line-height: 35px;
}

.scarica {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.apri {
  margin-left: 20px;
  background-color: black;
}

.header-box {
  padding: 10px;
}

.header-box.three,
.header-box.one {
  width: 200px;
}

.header-box.two {
  padding-top: 30px;
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
}

.why {
  margin: 0 20px;
}

.header-box.three {
  text-align: right;
}

.bottom {
  display: flex;
}

.bottom-container {
  width: 950px;
  margin: 40px auto;
}

/* /Header */

/* Body */

section {
  padding: 40px 0;
}

/* section:nth-child(even) {
  background-color: #d3d3d3;
}
 */
.left-box {
  width: 750px;
}

.right-box {
  flex-grow: 1;
}

/* /Body */

/* Footer */

footer > .container {
  padding: 20px 0;
}
.column {
  /* border: 2px dashed white; */
  min-width: 220px;
}

.column:first-of-type {
  /* border: 2px dashed black; */
  flex-grow: 1;
}

#last {
  /* background-color: #7fffd4; */
  justify-content: space-between;
}

.info {
  /* border: 2px dashed black; */
  padding: 5px;
  /* background-color: #ffb6c1; */
}

/* hr {
  color: white;
}
 */
/* /Footer */
